#php_value allow_url_fopen on
RewriteEngine on
RewriteRule ^boleto/([a-z\-A-Z0-9]+)$ boleto.php?&a=$1
RewriteRule ^boleto/([a-z\-A-Z0-9]+)\/$ boleto.php?&a=$1
RewriteRule ^boleto/([a-z\-A-Z0-9]+)\/([a-zA-Z0-9]+)$ boleto.php?&a=$1
RewriteRule ^boleto/([a-z\-A-Z0-9]+)\/([a-zA-Z0-9]+)\/$ boleto.php?&a=$1